.main-bg {
    background: #F7F3E3;
    color: #2B2118
}

.main-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'IBM Plex Serif', serif;
}

.nav-bg {
    background: #C73E1D;
    color: #F7F3E3;
}

.nav-bg .logo-font {
    text-shadow: 2px 2px #2B2118;
}

.logo-font {
    font-family: 'Henny Penny', cursive;
}

.nav-bg a:link, .nav-bg a:visited {
    color: #F7F3E3;
}

.nav-bg a:active, .nav-bg a:hover {
    color: #0090C1;
}

.footer-bg {
    background: #0090C1;
    color: #F7F3E3;
}