<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head ('Welcome to Bloglandia!')">
</head>
<body class="main-container main-bg">
<nav th:replace="partials :: navbar"></nav>
<main class="container">
  <h1>Log In</h1>
  <div th:if="${param.error}">
    Invalid Username and Password.
  </div>
  <div th:if="${param.logout}">
    You have been logged out.
  </div>

  <form th:action="@{/login}" method="post">
    <label for="username">Username</label>
    <input id="username" name="username" type="text" />
    <label for="password">Password</label>
    <input id="password" name="password" type="password" />
    <input type="submit" value="Log In" />
  </form>
</main>
<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: boot-scripts"></div>
</body>
</html>